     .containerAbaAcoes {
         background-color: #ffffff;

         display: flex;
         flex-direction: column;
         align-items: center;
        margin-left: 3rem;


         .caixatextos {
             // border: solid green;
             display: flex;
             flex-direction: column;
             align-items: center;
             margin-top: 3rem;
             height: 20vh;

             h1 {
                 color: var(--color-primary);
                 font-size: 3rem;
                 font-family: var(--font-source);
                 margin-bottom: 1rem;
                height:10vh;
             }

             .p {
                 // border: solid red;
                 font-weight: lighter;
                 width: 60%;
                 font-size: 1.6rem;
             }
         }


         .cards {
             //border: solid blue;
             display: grid;
             grid-template-columns: repeat(3, 1fr);
             gap: 2rem;
             margin: 2rem;
             align-items: center;

             article {
                 // border:  solid red;
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 justify-content: space-between;
                 width: 80%;
                 height: 60vh;
                 text-align: center;



                 img {
                     width: 100%;
                     height: 40%;
                     //border-radius: 1rem;

                 }

                 h2 {
                     color: var(--color-txt-article);
                     font-size: 1.8rem;
                     // border: solid red;
                     width: 100%;
                 }

                 p {
                     //border: solid;
                     width: 90%;
                 }

                 button {
                     background-color: var(--color-primary);
                     width: 15vw;
                     height: 6.5vh;
                     border-radius: .5rem;
                     color: #ffffff;

                     bottom: hover;

                 }
             }
         }
     }

     @media (min-width: 200px) and (max-width:500px) {

         .containerAbaAcoes {

             display: flex;
             // flex-direction: column;
            margin: auto;

             .caixatextos {
                 // border: solid green;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 text-align: center;
                 //align-items: center;
                 // margin-top: 3rem;
                 height: 40vh;

                 h1 {
                     font-size: 2rem;
                     width: 90%;
                     //border: solid;
                 }

                 .p {
                    // border: solid red;
                     font-weight: lighter;
                     width: 60%;
                     height: 18vh;
                     font-size:.9rem;
                 }
             }


             .cards {
                 //border: solid blue;
                 display: flex;
                 flex-direction: column;
                 margin: 2rem;
                 align-items: center;

                 article {
                     //border:  solid red;
                     width: 85vw;




                     img {
                         // width: 100%;
                         //   height: 40%;
                         border-radius: 1rem;

                     }

                     h2 {
                         color: var(--color-txt-article);
                         font-size: 1.3rem;
                         //  border: solid red;
                         width: 100%;
                     }

                     p {
                         //border: solid;
                         // width: 90%;
                     }

                     button {
                         background-color: var(--color-primary);
                         width: 50vw;
                         height: 6.5vh;
                         border-radius: .5rem;

                         bottom: hover;

                     }
                 }
             }
         }

     }