.containerAbaPerfil {
    // border: solid palevioletred;  
    height: vh;

    article {
        // border: solid rgb(133, 136, 133);
        height: 80vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-around;
       // margin-left: 3rem;



        img {
            // border: solid var(--color-border-img);
            width: 30%;
            height: 60vh;
            border-radius: 50%;
        }

        div {
           // border:  solid yellow;
            display: flex;
            width: 50%;
            height: 70%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;


            h2 {
                //border: solid;
                font-family: var(--font-inter);
                font-size: 2rem;

            }

            h3 {
                // border: solid orangered;
                font-family: var(--font-inter);
                color: #278733;

            }

            h4 {
                width: 85%;
                font-size: 1rem;
                font-family: var(--font-inter);
                font-weight: lighter;
            }

            address {
                // border: solid red;
                width: 85%;
                display: flex;
                justify-content: space-around;
                font-weight: lighter, 200;

                p {

                    font-family: var(--font-inter);
                    font-weight: lighter, 400;
                }
            }

            ul {
            // border:  solid red;
                display: flex;
                flex-wrap: wrap;
                width: 70%;
                height: 10vh;
                justify-content: space-evenly;
                text-align: center;
                align-items: center;


                li {
                    background-color: #D4E7D6;
                    border-radius: 1px;
                    width: 8rem;
                    height: 4vh;
                    padding: .4rem;
                    font-family: var(--font-inter);
                    border-radius: 5rem;
                    color: #278733;
                    font-size: .8rem;
                    align-items: center;

                }
            }




        }

    }
}

@media (min-width: 200px) and (max-width:500px) {
    .containerAbaPerfil {
        //border: solid blue;
        height: 100vh;

        article {
            // border: solid red;
            display: flex;
            flex-direction: column;
            margin: initial;
            justify-content: space-evenly;
            width: 100%;
            height: 100vh;
            align-items: center;



            img {
                // border: solid rgb(50, 22, 148);
                width: 60%;
                height: 30vh;
                margin-top: 5vh;
            }

            div {
                //border: solid  yellow;
                width: 100%;
                height: 85vh;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: space-around;
                

                h2 {
                    //border: solid;
                    font-size: 8vw;
                    width: 20rem;
                }
                h3{
                   // border: solid red;
                    font-size: 4vw;
                    width:20rem;
                }

                h4 {
                   // border: solid RED;
                    width: 100%;
                    height: 15vh;
                    font-size: 1rem;
                    padding-top: 1rem;
                    text-align: center;


                }

                address {
                    // border:double;
                    display: flex;
                    font-size: 1rem;
                    flex-direction: column;
                    align-items: center;

                }

                ul {
                    //border: double;
                    width: 100%;
                    height: 15vh;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    //margin-top:2rem;
                   // margin-bottom: 5rem;



                    li {
                        //border:  solid rgb(248, 232, 8);
                        width: 7.5rem;
                        height: 3.5vh;
                        font-size: .7rem;
                    }
                }
            }




        }
    }
}