.containerAbaInicial {
    //border: solid yellow;
    display: flex;
    //-direction: column;



    .textInicio {
       // border: solid purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //margin-left: 2rem;

        h1 {
           // border: solid green;
            width: 100%;
            height: 30vh;
            // text-wrap: wrap;
            color: var(--color-primary);
            font-family: var(--font-inter);
            font-size: 5rem;
           // font-weight: bold 700;


        }

        p {
            // border: solid red;
            width: 85%;
            margin-top: 3rem;
            font-size: 1.5rem;
            color: var(--color-primary);
        }
    }

    img {
        //border: solid blue;
        width: 45%;
    }
}

@media (min-width: 200px) and (max-width:500px) {
    .containerAbaInicial {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 2rem;




        .textInicio {
            display: flex;
            align-items: center;

            h1 {
                //border: solid green;
                width: 100%;
                height: 20vh;
                font-size: 2.5rem;
                font-family: var(--font-inter);
                margin: auto;
                font-weight: bold, 500;



            }

            p {
                //border: solid red;
                width: 95%;
                margin-top: 1rem;
                font-size: .9rem;
            }
        }

        img {
            //border: solid blue;
            width: 75%;
            margin: auto;
            border-radius: 7rem;
            margin-top: 3rem;
        }
    }

}