.containerAbaInicial{
    //border: solid yellow;
    display: flex;



.textInicio{
    //border: solid purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
 
h1{
   // border: solid green;
    width: 100%; 
    height: 30vh;
   // text-wrap: wrap;
   color: var(--color-primary);
   font-size: 5.5rem;
   font-weight: bold 700;
   

}

p{
   // border: solid red;
    width: 85%;
    margin-top: 3rem;
    font-size: 1.5rem;
    color: var(--color-primary);
}
}

img{
    //border: solid blue;
    width: 45%;
}
}  